@font-face {
    font-family: 'Blomster';
    src: url(../fonts/Blomster.ttf);
}
@font-face {
    font-family: 'earwig';
    src: url(../fonts/earwig\ factory\ rg.ttf);
}
@font-face {
    font-family: 'Ribbons';
    src: url(../fonts/Ribbons-and-banners.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-family: 'earwig';
    font-size: 10em;
    animation-name: aparecer;
    animation-duration: 5s;
}

h1 span {
    margin: 0em 0.2em;
}

.rotar {
    display: inline-block;
    transition: transform 1.2s ease-in-out;
}

.rotar:hover {
    transform: rotate(360deg);
}

.mover{
    display: inline-block;
    transition: transform 1.2s ease-in-out;
}
.mover:hover{
    transform: translate(-20em, 20em);
}

.desaparecer{
    display: inline-block;
    transition: opacity 1.2s ease-in-out;
}
.desaparecer:hover{
    opacity: 0;
}

.estirar{
    display: inline-block;
    transition: transform 1s ease-in-out;
}
.estirar:hover{
    transform: skew(60deg, -10deg);
}

h2 {
    justify-content: center;
    overflow: hidden;
    font-family: 'Blomster';
    font-size: 4em;
    width: 0;
    white-space: nowrap;
    animation-name: aparecer;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

h2 span {
    margin: 0 0.3em;
}

.tamano {
    font-size: 2em;
}

#turquesa {
    color: teal;
}
#azul {
    color: rgb(0, 170, 255);
}
#morado {
    color: purple;
}
#naranja {
    color: orange;
}

@keyframes aparecer {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
