@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.input-group input{
    padding: 0.3em 2em;
    font-size: 1.2em;
    margin-bottom: 0.7em;
    text-align: center;
}
.input-group select{
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
    width: 10em;
    font-size: 1.2em;
}

.button-group{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.button-group button, a{
    width: 30%;
    text-align: center;
	text-decoration: none;
	background-color: #28a745;
	color: white;
	padding: 1em 1.7em;
	border-radius: 10px;
    border: none;
    font-size: 1em;
}
.button-group button:hover, a:hover{
    opacity: 0.9;
    cursor: pointer;
}