.cabecera{
    text-align: center;
}
span{
    color: #527BB9;
    text-transform: capitalize;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: center;
}
ul{
    list-style: none;
    display:flex ;
}
li{
    background-color: #527BB9;
    color: #fff;
    padding: 2em;
    margin-left: 0.5em;
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    
}
.uno{
    width: 48%;
    margin: 1%;
    border-right: 2px solid;
    border-color: #527BB9;
}
.dos{
    width: 48%;
}
.destacado{
    background-color: #B0C4DE;
    width: 100%;
}
.destacado h2{
    color: #527BB9;
}
