/*inicializamos estilos*/
*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-box; /*con esto le estamos diciendo a la hoja de estilos que aunque una caja tenga padding, su tamaño va a ser fijo*/
    text-decoration: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    width: 75%;
    margin: 0 auto;
}
.cabecera{
    text-align: center;
}
span{
    color: #BA1211;
    text-transform: capitalize;
}
.menu{
    text-align: center;
}
.opcPar{
    color: #BA1211;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    margin-inline: 2em;
}
.contenido{
    display: flex;
    justify-content: center;
}
h2::first-letter{
    color: #BA1211;
}
.impar{
    border-width: 3px;
    border-style: dotted;
    border-color: #FF8D46;
    padding: 1em;
}
.par{
    border-width: 3px;
    border-style: solid;
    border-color: #537DB9;
    background-color: #CCCCCC;
    padding: 1em;
}
.pie{
    position: absolute;
    bottom: 0;
    right: 0;
}