*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #312E27;
    align-items: center;
    color: white;
    padding: 20px 30px;
}
ul{
    list-style: none;
}
header h1{
    width: 50%;
}
.container-nav {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.enlaces-nav{
    width: 25%;
    display: flex;
    justify-content: right;
}
.enlaces-nav li{
    margin: 10px;
}
.enlace{
    font-weight: bold;
    text-decoration: none;
    color: #B4986A;
}
.enlace:hover{
    color: aliceblue;
}
.container-article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.container-article h2{
    width: 100%;
    padding: 20px;
}
.ulista-article{
    display: flex;
}