body{
    background-color: rgba(112, 112, 112, 0.966)
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    
}
.card-container{
    width: 30%;
    background-color: white;
    border-radius: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card-container:hover{
    transform: translateY(-10px);
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.8);
}
.img-container{
    width: 100%;
}
.img-container img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .card-container{
        width: 100%;

    }
    .cards-container{
    }
}